<div class="container-devise">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <%= link_to "Back", :back, class: "btn btn-ghost" %>
      <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
      <br>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :photo, as: :file %>
          <%= f.input :birthdate %>
          <%= f.input :bio, as: :text %>
          <%= f.input :last_name %>
          <%= f.input :first_name %>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Update", class: "btn btn-ghost" %>
        </div>
        <br>
      <% end %>
      <div id="kill-link-a">
      <p class="text-center">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
    </div>
  </div>
</div>
