<div class="index">
  <div class="first-row">
    <div class="first-two">
      <%@articles.first(2).each do |article|%>
      <div class="each-first-column">
        <%= image_tag "https://images.unsplash.com/photo-1472396961693-142e6e269027?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=606&q=80" %>
        <h4><p><%= link_to article.title, article_path(article)%></p></h4>
        <%= article.publication_date %>
        <%= article.newspaper.tag_political %>
        <% if policy(Article).destroy? %>
        <%= link_to "Delete article", article_path(article), method: :delete, data: { confirm: "Delete article?" } %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="third-big">
      <% article_3 = @articles[3] %>
      <%= image_tag "https://images.unsplash.com/photo-1472396961693-142e6e269027?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=606&q=80", width: 600, height: 400 %>
      <h2><p><%= link_to article_3.title, article_path(article_3)%></p></h2>
      <%= article_3.publication_date %>
      <%= article_3.newspaper.tag_political %>
      <% if policy(Article).destroy? %>
      <%= link_to "Delete article", article_path(article), method: :delete, data: { confirm: "Delete article?" } %>
      <% end %>
    </div>
    <div class="first-two">
      <% article_4 = @articles[4] %>
      <div class="each-first-column">
        <%= image_tag "https://images.unsplash.com/photo-1472396961693-142e6e269027?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=606&q=80" %>
        <h4><p><%= link_to article_4.title, article_path(article_4)%></p></h4>
        <%= article_4.publication_date %>
        <%= article_4.newspaper.tag_political %>
        <% if policy(Article).destroy? %>
        <%= link_to "Delete article", article_path(article_4), method: :delete, data: { confirm: "Delete article?" } %>
        <% end %>
      </div>
      <% article_5 = @articles[4] %>
      <div class="each-first-column">
        <%= image_tag "https://images.unsplash.com/photo-1472396961693-142e6e269027?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=606&q=80" %>
        <h4><p><%= link_to article_5.title, article_path(article_5)%></p></h4>
        <%= article_4.publication_date %>
        <%= article_4.newspaper.tag_political %>
        <% if policy(Article).destroy? %>
        <%= link_to "Delete article", article_path(article_4), method: :delete, data: { confirm: "Delete article?" } %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>



