<div class="container">
  <h1><%= @article.title %></h1>
  <div class="article-date-writer">
    <%= @article.writers_name %>
    <%= @article.publication_date %>
  </div>
  <div>
  <%= @article.newspaper.name %>
  </div>
  <div>
  <%= @article.newspaper.tag_political %>
  </div>
  <% average_rating = 0 %>
  <% if @article.ratings.present? %>
    <% @article.ratings.each do|political| %>
      <% average_rating += political.rating %>
    <% end %>
    <%= average_rating / @article.ratings.size %>
  <% end %>
  <div class="article-content">
    <%= @article.content %>
  </div>


  <div class="comments">
    <% if @article.comments.present? %>
      <h3>All comments</h3>
      <% @article.comments.each do |comment| %>
      <ol>
        <li class="list-group-item mt-3 mb-3" id="comment-<%= comment.id %>">
          <%= comment.content %>
        </li>
      </ol>
      <% end %>
    <% end %>
      <% if user_signed_in? %>
      <div class="leave-comment mt-3 mb-3">
        <h2>⭐Share your own views!</h2>
        <%= simple_form_for([ @article, @comment ], remote: true) do |f| %>
          <%= f.input :content, label: "Comment" %>
          <%= f.submit "Submit review" %>
        <% end %>
      <% else %>
        <%= link_to "Login to leave a review",  new_user_session_path %>
      <% end %>
      </div>
      </div>
</div>


