<div class="row mt-4 ml-5" id="back">
        <%= link_to 'Back to article choice', :back, class: "btn btn-ghost" %>
    </div>
<div class="container">
  <div class="whole-article-beggining">
    <div class="article-info">
      <div class="article-political">
        <div class="article-title">

          <div id="line-division">
            <h2 class="mb-3 mt-3"id="rating-avg"><%= @article.title %></h2>
            <em><p><%= @article.description %></p></em>
            <%= @article.publication_date.to_date.to_formatted_s :long_ordinal  if @article.publication_date.present?%>
          </div>
          <div class="political-newspaper-img mb-3 mt-3">
            <% if @article.newspaper.tag_political == "Lean Left" %>
            <i class="fas fa-arrow-left"></i>
            <% elsif @article.newspaper.tag_political == "Lean Right" %>
            <i class="fas fa-arrow-right"></i>
            <% elsif @article.newspaper.tag_political == "Center" %>
            <i class="fas fa-arrow-up"></i>
            <% elsif @article.newspaper.tag_political == "Hard Right" %>
            <i class="fas fa-arrow-right"></i>
            <i class="fas fa-arrow-right"></i>
            <% elsif @article.newspaper.tag_political == "Hard Left" %>
            <i class="fas fa-arrow-left"></i>
            <i class="fas fa-arrow-left"></i>
            <% elsif @article.newspaper.tag_political == "Center - Financial" %>
            <i class="fas fa-arrow-up"></i>
            <% elsif @article.newspaper.tag_political == "Lean Left - Financial" %>
            <i class="fas fa-arrow-left"></i>
            <% end %>
            <div>
              <%= image_tag @article.newspaper.image, width:50, height:50 %>
            </div>
          </div>
        </div>
      </div>
      <div id="photo-rating">
        <div class="newspaper-image">
          <%= image_tag @article.image, width:800, height:400 %>
        </div>
        <div id="object-and-user-rating">
          <div class="objectiveness" data-controller="counter">

            <div><p>Objectiveness average rating:</p></div>
            <div class="progress" data-controller="counter">
              <div data-counter-target="count" id="rating-avg" class="progress-bar" role="progressbar" style="width: <%= @article.avg_rating %>%;" aria-valuenow="<%= @article.avg_rating %>%" aria-valuemin="0" aria-valuemax="100" data-counter-target="count"><%= @article.avg_rating %>% objective</div>
            </div>
          </div>
          <% if user_signed_in? && @user_rating.blank?%>
          <h6><strong>What do you think?</strong></h6>
          <div class="form-rating">
            <%= simple_form_for([ @article, @rating ], remote: true) do |f| %>
            <%= f.input :rating, label: "From subjective to objective", as: :range, collection: 1..100 %>
            <%= f.submit "Submit rating", class: "btn btn-ghost", id: "submit-rating" %>
            <% end %>
          </div>
          <% elsif !user_signed_in? && user_rating.blank? %>
          <%= link_to "Login to leave a rating",  new_user_session_path %>
          <% end %>

          <% if @user_rating.present? %>
          <br>
          <div class="objectiveness" data-controller="counter" >
            <p>You voted:</p>
            <div class="progress" data-controller="counter">
              <br>
              <div data-counter-target="count" class="progress-bar" role="progressbar" style="width: <%= @user_rating_first.rating %>%;" aria-valuenow="<%= @user_rating_first.rating %>%" aria-valuemin="0" aria-valuemax="100" data-counter-target="count"><%= @user_rating_first.rating %>% objective</div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="social-share">
    <div class="share-btn">
    <a class="btn-facebook" data-id="fb"><i class="fab fa-facebook"></i></a>
    <a class="btn-twitter" data-id="tw"><i class="fab fa-twitter"></i></a>
    <a class="btn-mail" data-id="mail"><i class="fas fa-envelope-square"></i></i></a>
    <a class="btn-whatsapp" data-id="wa"><i class="fab fa-whatsapp"></i></i></a>
    <% user_bookmark = @article.bookmarks.each do|bookmark| %>
      <% bookmark.user == current_user%>
    <% end %>
    <% if user_bookmark.present? %>
      <%= link_to article_bookmark_path(@article, @bookmark), method: :delete do %>
        <i class="fas fa-bookmark fa black"></i>
      <% end %>
    <% elsif user_bookmark.blank?%>
      <%= link_to article_bookmarks_path(@article, current_user), method: :post do %>
      <i class="fas fa-bookmark fa"></i>
    <% end %>
  <% end %>
  </div>
  </div>



  <div class="article-content">
    <% content = @article.content %>
    <% content = content.remove('Show more','Show less','Associated Press','Staff','Image copyright', 'Image caption','Adds details and background','RELATED ARTICLES', 'see also','shares','or comment on this article:','Share this article', 'Share','To continue reading this article you must be a Bloomberg Professional Service Subscriber.','seepagefrom','e-mail', 'Email', 'email' 'Close', 'Published', 'Filed under', 'By', 'PA Media', 'image caption', 'image copyright', '|', 'Share or comment on this article:', 'Sorry we are not currently accepting comments on this article.', 'Bing', 'Our Standards:', 'Getty Images', 'Slideshow', 'newsletter', 'Next Up In', 'For You', 'Related Topics', 'Reuters', 'FILE PHOTO:', 'media caption', 'follow Bloomberg Africaon Twitter') %>
    <% content = content.gsub(/[P][h][o][t][o][g][r][a][p][h][e][r][:]\s\w+\s\w+\W[B][l][o][o][m][b][e][r][g]/, '') %>
    <% content = content.gsub(/\d\s.{3}\s.{4}/, '') %>
    <% content = content.gsub(/\w+\s\w+\W\w{3}\s[v][i][a]\s\w+\s[I][m][a][g][e]\w/, '') %>
    <% content = content.gsub(/[(]\s\d\s\w+\s[)]/, '') %>
    <% content = content.gsub(/\d{2}[:]\d{2}/, '') %>
    <% content = content.gsub(/[S][i][g][n]\s[u][p]\s\w+\s\w+\s\w+\s/, '') %>
    <% content = content.gsub(/\d{2}\W\d{2}\s\w{3},+\s\d{2}\s\w+\s\d{4}/, '')%>
    <% content = content.gsub(/[B][S][T][,]\s\d+\s\w+\s\d{4}/,'') %>
    <% content = content.gsub(/\w+\s\d{1,2}[,]\s[2][0][2][1][,]\s[A-Z]{2}\s[A-Z]{3}/,'') %>
    <% content = content.gsub(/^([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)\W[B][l][o][o][m][b][e][r][g]\s[v][i][a]/, '')%>
    <% content = content.gsub(/([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)\W[A][F][P]\s[v][i][a]/,'') %>
    <% content.split("\n").each do |paragraph| %>
    <% if paragraph.length < 5 %>
    <% '' %>
    <% elsif paragraph == @article.title  %>
    <%= paragraph = '' %>
    <% elsif paragraph.length < 30 && paragraph.length > 5 && paragraph =~ /[A-Z]/%>
    <br>
    <h5> <strong><%= paragraph.downcase.capitalize %></strong></h5>
    <br>
    <% elsif paragraph.length < 30 && paragraph.length > 5 && paragraph !=~ /[A-Z]/%>
    <%= paragraph.downcase.capitalize %>
    <% else %>
    <p>
      <%= paragraph.downcase.capitalize %>
    </p>
    <% end %>
    <% end %>

  </div>


  <div class="comments">
    <% if @article.comments.present? %>
    <h3><strong>Comments (<%= @article.comments.count %>)</strong></h3>
    <% @article.comments.each do |comment| %>
    <ol>
      <li class="list-group-item mt-3 mb-3" id="comment-<%= comment.id %>">
        <strong><%= comment.user.username %></strong>
        | <%= distance_of_time_in_words(Time.now -  comment.created_at) + ' ago' %>
        <br>
        <%= comment.content %>
      </li>
    </ol>
    <% end %>
    <% end %>

    <% if user_signed_in? %>
    <div class="leave-comment">
      <h3><strong>Share your own views!</strong></h3>
      <div class="form-for-comment">
        <%= simple_form_for([ @article, @comment ], remote: true) do |f| %>
        <%= f.input :content, label: false, hint: 'Max 500 words', placeholder: 'Your comment' %>
        <%= f.submit "Submit comment", class: "btn btn-ghost" %>
        <% end %>
        <% else %>
        <%= link_to "Login to leave a comment",  new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  var bookmark = document.querySelector('.fa-bookmark');

  bookmark.onclick = function () {
   this.style.color = "black"
  };
</script>

<script>
  var black_bookmark = document.querySelector('.black');

  black_bookmark.onclick = function () {
   this.style.color = "#DBDBDB"
  };
</script>






