
<div class="row d-flex justify-content-center mt-100">
      <div class="col-md-4">
          <div class="card">
              <div class="card-body text-center">
                <%= link_to  topics_path(category: "People") do %>
               <label class="check " id = "People"> <input type="checkbox" checked> <span>People</span> </label>
               <% end %>
                  <%= link_to  topics_path(category: "Culture") do %>
                <label class="check" id ="Culture"> <input type="checkbox"> <span>Culture</span> </label>
                  <% end %>
                   <%= link_to  topics_path(category: "Education") do %>
                 <label class="check" id = "Eductation"> <input type="checkbox"> <span>Education</span> </label>
                 <% end %>
                    <%= link_to  topics_path(category: "Global") do %>
                  <label class="check" id = "Global"> <input type="checkbox"> <span>Global</span> </label>
                  <% end %>
                     <%= link_to  topics_path(category: "Health")do  %>
                  <label class="check" id = "Health"> <input type="checkbox"> <span>Health</span> </label>
                  <% end %>
                     <%= link_to  topics_path(category: "Politics") do %>
                  <label class="check" id = "Politics"> <input type="checkbox"> <span>Politics</span> </label>
                  <% end %>
                     <%= link_to  topics_path(category: "Science") do %>
                  <label class="check" id = "Science"> <input type="checkbox"> <span>Science</span> </label>
                  <% end %>
              </div>
          </div>
      </div>
  </div>
