


  <div id="myDIV" data-category="<%= params[:category] %>">
     <%= link_to "All", topics_path, class: "btn-c "%>
    <%= link_to "Science", topics_path(category: "Science"), class: "btn-c #{params[:category] == 'Science' ? 'active': "" }"  %>
    <%= link_to "Politics", topics_path(category: "Politics"), class: "btn-c #{params[:category] == 'Politics' ? 'active': "" }"  %>
    <%= link_to "Education", topics_path(category: "Education"), class: "btn-c #{params[:category] == 'Science' ? 'active': "" }"  %>
    <%= link_to "Health", topics_path(category: "Health"), class: "btn-c #{params[:category] == 'Science' ? 'active': "" }"  %>
    <%= link_to "Global", topics_path(category: "Global"), class: "btn-c #{params[:category] == 'Science' ? 'active': "" }"  %>
    <%= link_to "People", topics_path(category: "People"), class: "btn-c #{params[:category] == 'Science' ? 'active': "" }"  %>
    <%= link_to "Culture", topics_path(category: "Culture"), class: "btn-c #{params[:category] == 'Science' ? 'active': "" }"  %>
</div>

<script>
// Get the container element
var btnContainer = document.getElementById("myDIV");

// Get all buttons with class="btn" inside the container
var btns = btnContainer.getElementsByClassName("btn");

// Loop through the buttons and add the active class to the current/clicked button
// for (var i = 0; i < btns.length; i++) {
//   btns[i].addEventListener("click", function() {
    let topicCategory = btnContainer.dataset.category;
    var current = document.getElementById(topicCategory);
    console.log(current);
    // current.classList.add("active");

  // });
// }
</script>


