<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
  <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
          <span class="navbar-toggler-icon"></span>
      </button>
  <div id="navbarContent" class="collapse navbar-collapse">
    <%=link_to (searches_path) do %>
      <i class="fab fa-acquisitions-incorporated fa-3x"></i>
    <%end %>

    <ul class="navbar-nav mx-auto">


      <!-- Megamenu-->
      <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase">Category</a>
        <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
          <div class="container">
            <div class="row bg-white rounded-0 m-0 shadow-sm">
              <div class="col-lg-7 col-xl-8">
                <div class="p-4">
                  <div class="row">
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">Trending</h6>
                      <div class="menu-display">
                        <ul class="list-unstyled">
                          <li class="nav-item"><a href="https://all-ears-open.herokuapp.com/searches/27" class="nav-link text-small pb-0">Health</a></li>
                          <li class="nav-item"><a href="https://all-ears-open.herokuapp.com/searches/28" class="nav-link text-small pb-0 ">Global</a></li>
                          <li class="nav-item"><a href="https://all-ears-open.herokuapp.com/searches/22" class="nav-link text-small pb-0 ">Science</a></li>
                          <li class="nav-item"><a href="https://all-ears-open.herokuapp.com/searches/21" class="nav-link text-small pb-0 ">Politics</a></li>
                        </ul>
                      <div class="col-lg-6 mb-4">
                        <h6 class="font-weight-bold text-uppercase"></h6>
                        <ul class="list-unstyled">
                          <li class="nav-item"><a href="https://all-ears-open.herokuapp.com/searches/25" class="nav-link text-small pb-0 ">Education</a></li>
                          <li class="nav-item"><a href="https://all-ears-open.herokuapp.com/searches/29" class="nav-link text-small pb-0 ">Culture</a></li>
                          <li class="nav-item"><a href="https://all-ears-open.herokuapp.com/searches/31" class="nav-link text-small pb-0 ">Coronavirus</a></li>
                          <li class="nav-item"><a href="https://all-ears-open.herokuapp.com/searches/30" class="nav-link text-small pb-0 ">People</a></li>
                        </ul>
                      </div>
                      </div>
                    </div>
                    <%# <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">Paar</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase"></h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                      </ul> %>
                    <%# </div> %>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-xl-4 px-0 d-none d-lg-block" style="background: center center url(https://images.unsplash.com/photo-1615403916271-e2dbc8cf3bf4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)no-repeat; background-size: cover;"></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item"><a href="https://all-ears-open.herokuapp.com/topics" class="nav-link font-weight-bold text-uppercase">Topics</a></li>
      <%# <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase">Services</a></li> %>
      <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase">Contact</a></li>


    </ul>
    <%= simple_form_for @search_query, html:{class: "form-inline search-form"} do |t| %>
      <%= t.input :query, label: false, placeholder:"What's your Topic ? ..." %>
      <%= t.button :button, {class: 'button postfix'} do %><i class="fas fa-search"></i><% end %>
    <% end %>

  <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
  </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto align-items-center">
        <li class="nav-item dropdown">
          <% if user_signed_in? %>
            <li>
              <%= link_to'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          <% end %>
          </div>
        </li>
      </ul>
    </div>
</nav>
