<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
  <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
          <span class="navbar-toggler-icon"></span>
      </button>
  <div id="navbarContent" class="collapse navbar-collapse">
    <%=link_to (searches_path) do %>
      <i class="fab fa-acquisitions-incorporated fa-3x"></i>
    <%end %>

    <ul class="navbar-nav mx-auto">


      <!-- Megamenu-->
      <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase">Category</a>
        <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
          <div class="container">
            <div class="row bg-white rounded-0 m-0 shadow-sm">
              <div class="col-lg-7 col-xl-8">
                <div class="p-4">
                  <div class="row">
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">Categories</h6>
                      <div class="menu-display">
                        <ul class="list-unstyled">
                          <li class="nav-item"><%= link_to "Health", searches_path(search: {query:"health"}), method: :post, class: "nav-link text-small pb-0"%></li>
                          <li class="nav-item"><%= link_to "Global", searches_path(search: {query:"global"}), method: :post, class: "nav-link text-small pb-0"%></li>
                          <li class="nav-item"><%= link_to "Science", searches_path(search: {query:"science"}), method: :post, class: "nav-link text-small pb-0"%></li></li>
                          <li class="nav-item"><%= link_to "Politics", searches_path(search: {query:"politics"}), method: :post, class: "nav-link text-small pb-0"%></li></li>
                        </ul>
                      <div class="col-lg-6 mb-4">
                        <h6 class="font-weight-bold text-uppercase"></h6>
                        <ul class="list-unstyled">
                          <li class="nav-item"><%= link_to "Education", searches_path(search: {query:"education"}), method: :post, class: "nav-link text-small pb-0"%></li></li>
                          <li class="nav-item"><%= link_to "Culture", searches_path(search: {query:"culture"}), method: :post, class: "nav-link text-small pb-0"%></li></li>
                          <li class="nav-item"><%= link_to "Coronavirus", searches_path(search: {query:"coronavirus"}), method: :post, class: "nav-link text-small pb-0"%></li></li>
                          <li class="nav-item"><%= link_to "People", searches_path(search: {query:"people"}), method: :post, class: "nav-link text-small pb-0"%></li></li>
                        </ul>
                      </div>
                      </div>
                    </div>
                    <%# <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">Paar</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase"></h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 "></a></li>
                      </ul> %>
                    <%# </div> %>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-xl-4 px-0 d-none d-lg-block" style="background: center center url(https://images.unsplash.com/photo-1615403916271-e2dbc8cf3bf4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)no-repeat; background-size: cover;"></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item"><a href="https://all-ears-open.herokuapp.com/topics" class="nav-link font-weight-bold text-uppercase">Topics</a></li>
      <%# <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase">Services</a></li> %>
      <li class="nav-item"><%= link_to "Contact", new_contact_path, class: "nav-link font-weight-bold text-uppercase"%></li>


    </ul>
    <%= simple_form_for @search_query, html:{class: "form-inline search-form mr-3"} do |t| %>
      <%= t.input :query, label: false, placeholder:"Input news story" %>
      <%= t.button :button, {class: 'btn btn-ghost'} do %><i class="fas fa-search"></i><% end %>
    <% end %>

  </div>
  <div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <% if user_signed_in? %>
            <li>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% else %>
                <%= image_tag "https://media.istockphoto.com/vectors/man-icon-vector-illustration-vector-id576606262?s=612x612", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% end %>
                <%= link_to "Edit profile", edit_user_registration_path(current_user), class: "dropdown-item" %>
                <%= link_to "See Profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          <% else %>
            <li>

              <%= link_to'Log in', new_user_session_path, class: "btn btn-ghost" %>

            </li>
          <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
